html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

* {
  box-sizing: border-box;
}
